body {
    margin:0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #202731;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;

}

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #202731;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 217px;
}

.wave .shape-fill {
    fill: #202731;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(./svg/layer1.svg);
}

.layer2 {
    background-image: url(./svg/layer2.svg);
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 164px;
}

.wave2 .shape-fill {
    fill: #202731;
}

.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.wave3 .shape-fill {
    fill: #DD3F31;
}

.wave4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave4 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 271px;
}

.wave4 .shape-fill {
    fill: #FF0066;
}

.blob-motion {
    position: absolute;
    transform: translateY(-20%);
}

.button-24 {
    background: #dd3f31;
    border: 1px solid #dd3f31;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins' ,sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #dd3f31;
  }
  
  .button-24:active {
    opacity: .5;
  }

  .button-25 {
    background: #202731;
    border: 1px solid #202731;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins' ,sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-25:hover,
  .button-25:active {
    background-color: initial;
    background-position: 0 0;
    color: #202731;
  }
  
  .button-25:active {
    opacity: .5;
  }